.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
*/*/*/data
*/*/*/exp
./pretrained

*.o
*.obj

*.a

*.so

*.dll

*.exe
*.out
*.bin

**/build/
**/third_party/
**/cmake-build-debug/
**/out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/
# CLion
.idea/
# Xcode
*.xcodeproj
*.xcworkspace

*.swp
*~
**/onnx_runtime/
**/exp/
**/__pycache__/
pretrained/speech_eres2netv2_sv_zh-cn_16k-common/examples
pretrained/speech_eres2netv2_sv_zh-cn_16k-common/pretrained_eres2netv2.ckpt
pretrained/speech_eres2netv2_sv_zh-cn_16k-common/embeddings/speaker1_a_cn_16k.npy
pretrained/speech_eres2netv2_sv_zh-cn_16k-common/embeddings/speaker1_b_cn_16k.npy
