numpy>=1.19.0
torch>=1.10.0
torchaudio>=0.10.0
gradio>=3.32.0
fastapi>=0.95.0
uvicorn>=0.22.0
modelscope>=1.4.2
pydub>=0.25.1
python-multipart>=0.0.6
mysql-connector-python>=8.0.0
tqdm>=4.42.0
scipy>=1.7.0
scikit-learn==1.0.2
soundfile
kaldiio
pyyaml
matplotlib
pandas
openpyxl
